::root {
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

#home {
  height: 100vh;
  background-image: url(/ryan-schroeder-Gg7uKdHFb_c-unsplash.jpg);
  background-size: cover;
  position: relative;
}
/* navbar */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin-left: auto;
  padding: 1em 3em;
  font-family: inherit;
}
.navbar .page_link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}
/* end of navbar */

/* fixed nav styles */
.fixed_nav {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.164);
}
.fixed_nav .page_link {
  color: #333;
  transition: color 0.3s ease;
}
.fixed_nav .page_link:hover {
  color: rgb(126, 229, 255);
  transition: var(--transition);
}
/* end of fixed nav */

/* title */

.title {
  max-width: 600px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 10%;
}
.title h1 {
  font-size: 60px;
}
.title small {
  font-size: large;
  line-height: 2em;
}
.title .explore_link {
  margin-top: 1em;
  background: transparent;
  color: rgb(126, 229, 255);
  padding: 1em 2em;
  font-weight: bolder;
  border-radius: 2em;
  border: 2px solid #fff;
  text-decoration: none;
}
.title .explore_link:hover {
  background-color: #fff;
  color: rgb(126, 229, 255);
}
/* end of title styling */

/* about page */
#about {
  height: 80vh;
  font-family: inherit;
  background-color: #f1f5f8;
  text-transform: uppercase;
  padding-top: 1em;
}
.second_page--container h1 {
  margin: auto;
  max-width: fit-content;
  font-size: 40px;
}
/* end of about page */

/* service page */
#services {
  height: 80vh;
  font-family: inherit;
  background-color: #fff;
  text-transform: uppercase;
  padding-top: 1em;
}
.third_page--container h1 {
  margin: auto;
  max-width: fit-content;
  font-size: 40px;
}
/* end of service page */

/* tour page */
#tours {
  height: 80vh;
  font-family: inherit;
  background-color: #f1f5f8;
  text-transform: uppercase;
  padding-top: 1em;
}
.fourth_page--container h1 {
  margin: auto;
  max-width: fit-content;
  font-size: 40px;
}
/* end of tour page */

/* footer */
.footer_container {
  height: 15vh;
  background-color: #102a42;
  position: relative;
}
.footer_container p {
  color: #fff;
  font-size: large;
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* misc. */
/* .show-link {
  visibility: visible;
  z-index: 100;
} */
